.library__header {
  display: flex;
  flex: none;
  width: 100%;
  align-items: center;
}

.library__label {
  flex-grow: 1;
  font-size: 1.2em;
  text-align: center;
}

.library__close {
  padding: .5em;
  margin: 0 .5em;
}

.library__list {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.library__row {
  display: flex;
  margin-bottom: .25em;
  font-size: .9em;
}

.library__cell {
  width: 50%;

  &:first-child {
    text-align: right;
    margin-right: .5em;
  }

  &:last-child {
    margin-left: .5em;
  }
}
