.game {
  display: flex;
  height: 100%;
  flex-direction: column;
  // width: 100%;
  background: #a33;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
//
// .bad-list,
// .good-list {
//   overflow: auto;
//   flex: 1 1 50%;
// }

// /*

//
// .game__time {
//   color: #aaa;
//   font-size: .8em;
//   margin-left: .25em;
//
//   &::after {
//     content: 's';
//   }
// }
//
// .game__success {
//   color: #090;
// }
//


.separator {
  color: #ccc;
  font-size: .5em;
}

.origin {
  color: #039;
}

.outcome {
  color: #090;
}

.wrong {
  color: #900;
}

.empty,
.duration {
  color: #999;
}
