.game {
  display: flex;
  height: 100%;
  width: 100%;
  background: #a33;
  position: relative;
  z-index: 2;
}

.game__header {
  font-size: 1.2em;
  margin-bottom: 1em;
  text-align: center;
}

.game__time {
  color: #aaa;
  font-size: .8em;
  margin-left: .25em;

  &::after {
    content: 's';
  }
}

.game__success {
  color: #090;
}

.word-list {
  overflow: auto;
  width: 100%;
  background: rgba(255, 255, 255, .6);
}

.separator {
  color: #ccc;
  font-size: .5em;
}

.origin {
  color: #039;
}

.outcome {
  color: #090;
}

.wrong {
  color: #900;
}

.empty,
.duration {
  color: #999;
}
