.good-list {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  overflow: auto;
  padding: 0 .5em;
  margin-bottom: 1em;
}

.good-list-item {
  display: flex;
  width: 100%;
  padding: .1em .25em;

  > .origin,
  > .outcome {
    flex: 1 1 45%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  > .duration {
    width: 2em;
  }
}
