.current-word {
  font-size: 1.5em;
  padding: .25em 1em;
  border-radius: .2em;
  background-color: rgba(255, 255, 255, .8);
  // text-align: center;
  // display: inline-block;
  // min-width: 10em;
  // width: auto;
  // margin: 0 auto;
  align-self: center;
}

.game-guess {
  display: flex;
  flex-direction: column;
  padding: 1em;
  flex: none;
}

.game-guess__input {
  margin: 1em 0;
}

.game-guess__check {
  width: 80%;
  margin: 0 auto;
}

.keyboard {
  // text-align: center;
  margin-bottom: 1em;
}


.keyboard__row {
  display: flex;
  justify-content: center;
  flex-wrap: no-wrap;

  > .ant-btn {
    margin: .15em;
    width: 2.5em;
    text-align: center;
    padding: 0;
    flex: none;

    &.is-invisible {
      visibility: hidden;
      pointer-events: none;
    }
  }
}
